  <div class="banner-half" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://s3-us-west-2.amazonaws.com/hispotion-prod/wp-content/uploads/2015/09/surf-video-759x500.jpg');">
    <div class="banner-content">
      <h1>All of your bookings:</h1>
      <p>Package number</p>
  <!--     <a class="btn btn-primary btn-lg">Start now</a> -->
    </div>
  </div>

<div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-14">

          <% @bookings.each do |booking|%>
            <div class="col-xs-12 col-sm-4 col-md-4">

                <div class="card">
                    <div class="card-category"><%= booking.title %></div>
                    <div class="card-description"><p><%= booking.status %></p></div>
                    <div class="card-description"><p><%= booking.location %></p></div>
                    <%= link_to 'Edit booking', package_booking_path(params[:package_id], booking), class:"card-link" %>
                </div>

            </div>
          <% end %>

        </div>

    </div>
</div>
