<h1>Bookings#show</h1>

<%= @booking.title %>
<%= @booking.status %>

<br>

<%= link_to 'Edit booking', edit_package_booking_path(params[:package_id], @booking) %>

<br>

<%= link_to 'Back to all bookings', package_bookings_path(params[:package_id]) %>
