<!-- [Dharam] We dont need to create a new user, devise does it for us -->

<!-- <h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
 -->
<!-- The new page is a redirect to the show page -->

<%# @user.email %>
<%# @user.first_name %>
<%# @user.last_name %>
<%# @user.location %>
<%# @user.url_image %>

<!-- <%= link_to Back, user_path %> -->
