<!-- <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> -->

<!--a user show page has one user listed -->

<%# @user.email %>
<%# @user.first_name %>
<%# @user.last_name %>
<%# @user.location %>
<%# @user.url_image %>

<%# link_to 'Show', @user %>
<%# link_to 'Back', user_path %>
